.imgPhone{
height:400px;
width: 100%;
background-image: url(phone.jpg);
background-size: cover;
background-position-y:-130px ;
background-attachment: fixed;

}
 
section#contact{
    height:750px;
    width: 100%;
    max-height: 750px;
    overflow-x:hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

 .endPage{
    position: relative;
    display: flex;
    flex-direction: column;
    height:750px;
    align-items: center;
    background-color: #1b1b1b; 
    color:whitesmoke;
    overflow: hidden;
 
} 
form{
    height: 550px;
}
 .form{
    float: right;
    width: 100%;
    padding:50px ;
    /* background:#1b212d; */
    background-color: #2B2A33;
    /* background-image: url(phone.jpg); */
    background-repeat:no-repeat;
    background-size: cover;
    text-align:center;
    align-items: center;
    height:750px;  
    background-position-x:-120px;
    overflow: hidden;

} 
#head{
    position: relative;
    top:0px;
    font-size:28px ;
    font-weight:500;
    font-family: 'Poppins';
    color:lemonchiffon;
}
.boxWrapper{
position: relative;
top:68px;
}
/* 

 .box{
    margin-top:20px;
    padding:20px;
    margin-bottom:10px;;
    width:450px;
    font-size:17px;
    height:60px;
    border-bottom: #000000 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: none;
    
   
} */
.box{
    margin-top:20px;
    width:450px;
    font-size:18px;
    height:60px;
    font-family:'Poppins';
    background-color:transparent;
    color:white;

}
.boxWrapper input{
    border:solid 1px white;
    border-top:0;
    border-left:0;
    border-right: 0;
}
.box#t4{
    height: 120px;
    padding-bottom: 0px;
}
.box:hover{
    border:solid 1px rgb(212, 201, 107);
    border-top:0;
    border-left:0;
    border-right: 0;
}
.box:focus{
   
    outline: none;
}
#sub{
    cursor:pointer;
   
    background-color:lemonchiffon;
    border-style: none;
    border-radius: 30px;
    width:180px;
    transform: translate(8px,30px);
    font-size:18px;
    height:60px;
    font-family:'Poppins';
    transition: 200ms all ease-out;

}
#sub:hover{
    border:solid white 1px;
    scale:1.02;
    background-color: rgb(182, 146, 15) ;
 
}
.contactUs{
    font-size: 28px;
    font-family: 'Poppins';
}
.contactInfo{
    position: relative;
    top:30px;
    align-items: right;
    height:530px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;

}
  .chatWus{
opacity: 0.5;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.contact-head{ 
    color:lemonchiffon; 
    position: relative;
    font-size:45px; 
    /* text-shadow: 0 0 4px #505050; */
    font-weight: 600;
   
}
.contactdcrp{
    position: relative;
    top:30px;
}
.contactSocial{
    display: flex;
    flex-direction: column;
    margin-top:40px;

}
.mypi{
    width:440px;
    height:80px;
    margin-top:35px;
    font-size: 20px;
    background-color: #383838;
    box-shadow: 0 0 8px 2px #242424;
    border-radius:10px;
    transition: 200ms;
   
} 
.mypi:hover{
    background-color: lemonchiffon;
    color:#303030;
}
.mypi:hover .Cemote{
    color:#303030;
}
.Cemote{
    position: relative;
    bottom: -20px;
    margin:0 auto;
    font-size:32px;
    border-radius: 50%;
    color:white;
    left:15px;

}
#Cinfo{
    margin:0 auto;
    position: relative;
    bottom:-12px;
    left:30px;
    font-size: 20px;
 
}
 #phone,#address,#gmail{
    position: relative;
    font-size:15px;
    opacity: 0.5;
    left:20px;
 }

/* social-accounts-style */
.social{
    position: relative;
    top:20px;
    left:7px;
    padding-right:15px;
    color:white;
}

.social:hover{
    color:rgb(189, 177, 71);
}


footer{
    font-size:15px;
    text-align:center;
    margin-top:120px;
    
}
.socialAccs{
    position: absolute;
    top:570px;
    left:100px;
    
}
.my-social-accs{
    font-size:28px;
}


.copyRight{
   position: absolute;
   left:-250px;
   top:500px;
 }




