#sidebar .tgl_btn{
    visibility: collapse;
}

@media only screen and (max-width: 850px){
    .boy1{
        visibility:collapse;
    }
    .boy2{
        visibility:collapse;
            }

      #info{
        visibility:collapse;
      }
      #sidebar .tgl_btn{
        visibility: visible;
      }

      .about_page{
        display:flex;
   
         
      }
    }
 /*   
@media (max-width: 850px){
  section .container{
      grid-template-columns: 1fr;
  }
}

@media(max-width: 600px){
  .big-title{
      font-size: 3rem
  }

  .text{
      font-size: .8rem;
  }

  .title{
      font-size: 1.2rem;
  }
}
*/
  